
<!-- Static navbar -->
<!--<nav class="navbar navbar-default">-->
  <!--<div class="container">-->
    <!--<div class="navbar-header">-->
      <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
        <!--<span class="sr-only">Toggle navigation</span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
      <!--</button>-->
      <!--&lt;!&ndash; <a class="navbar-brand" href="#">Project name</a> &ndash;&gt;-->
      <!--<a class="navbar-brand" href=""><img src="images/Header-Logo.png" style="width:120px;" /></a>-->
    <!--</div>-->
<!--<div   id="navbar" class="navbar-collapse collapse">-->
      <!--<ul class="menuzord-menu menuzord-right">-->
      <!--<li><a href="https://stageapp.workruit.com/#/" target="_blank">EMPLOYER LOGIN</a></li>-->
      <!--<li><a href="https://stageapp.workruit.com/#/signup"  target="_blank">Employer Sign Up</a></li>-->
      <!--<li><a href="https://workruit.com/applicant.html" class="login-btn" target="_blank">LOOKING FOR A JOB?</a></li>-->
    <!--</ul>-->
    <!--</div>-->
  <!--</div>&lt;!&ndash;/.container-fluid &ndash;&gt;-->
<!--</nav>-->

<header class="w-100">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-5">
        <ul class="nav">
          <li class="nav-item"><a class="nav-link transition" href="#">Applicants</a></li>
          <li class="nav-item active"><a class="nav-link transition" href="#" data-badge="6">Messages</a></li>
          <li class="nav-item"><a class="nav-link transition" href="#">Jobs</a></li>
        </ul>
      </div>
      <div class="col-md-2 text-center">
        <a href="#" class="logo"><img src="images/logo.svg" alt="logo"></a>
      </div>
      <div class="col-md-5">
        <ul class="nav justify-content-end">
          <li class="nav-item user dropdown">
            <a class="nav-link transition dropdown-toggle" href="#" aria-haspopup="true" aria-expanded="false"><img src="images/avatar.png" alt=""></a>
            <div class="dropdown-menu">
              <a class="dropdown-item transition" href="#">Mani Challa</a>
              <a class="dropdown-item transition" href="#"><span>mani@storytech.in</span></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item transition" href="#">My Profile</a>
              <a class="dropdown-item transition" href="#">Company Profile</a>
              <a class="dropdown-item transition" href="#">Notifications</a>
              <a class="dropdown-item transition" href="#">Contact Suport</a>
              <a class="dropdown-item transition" href="#">Download app</a>
              <a class="dropdown-item transition" href="#"><span>Sign Out</span></a>
            </div>
          </li>
          <li class="nav-item notifications"><a class="nav-link transition" href="#" data-badge="3">Notifications</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
