    <div ng-include="'views/i<!-- Username -->
      <div class="form-group
>
  <label>Username</label>
  <div ng-dropdown-multiselect="" option="industrylist" selected-model="industry" extra-settings="industryDropDownSettings" style="width: 100%;"></div>
  <p class="help-block" style="padding-left:5px; margin-top: 5px; margin-bottom: 5px;">Username</p>
</div>
      <span><b>{{errorMessage}}</b></span>
      <a href='javascript:void(0)' class="close" aria-label="close" title="close"><img src="images/icons/close.png" width="10" ng-click="closeModal()"/></a>
    </div>
    <div id="successMessageID" data-ng-show="success && successMessage"
         class="alert alert-success      <p>Thank You!</p>
      <span><b>{{successMessage}}</b></span>
      <a href="javascript:void(0)" class="clo">
se" aria-label="close" title="close"><img src="images/icons/close.png" width="10" ng-click="closeModal()"/></a>
    </div>
<div class="container">
  <div id="signupbox" style="margin-top: 100px; margin-bottom: 50px;"
       class="mainbox about_company">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">Create Password</div>
      </div>
      <div class="panel-body">
        <form id="createPasswordForm" class="form-horizontal" role="form">
          <legend> Create Password </legend>

          <div class="form-group">
            <label for="password" class="col-md-3 control-label"> New Password </label>
            <div class="col-md-9">
              <input type="password" class="form-control" name="newPassword" data-ng-model="resetPasswordNew.newPassword"
                     placeholder="New Password" required-error-message="Password is required.">
            </div>
          </div>

          <div class="form-group">
            <label for="reenterNewPassword" class="col-md-3 control-label">
              Confirm New Password </label>
            <div class="col-md-9">
              <input type="password" class="form-control" name="reenterNewPassword" data-ng-model="resetPasswordNew.reenterNewPassword"
                     placeholder="Confirm Password" required-error-message="Confirm Password is required.">
            </div>
          </div>

        </form>
      </div>
    </div>
    <h5 class="text-center formsubhead" style="margin-bottom: 20px; margin-top: 20px;">
      <button class="btn btn-primary create_job"  data-ng-click="createPasswordNewServCall()"
              style="padding: 8px 22px; letter-spacing: 0.4px;">CREATE PASSWORD</button>

    </h5>

  </div>
</div>
  </div>
<div class="modal fade" id="appDownloadDialog" role="dialog">
  <div class="modal-dialog">
    
  </div>
</div>
  <!-- Username -->
  <div class="form-group">
    <label>Username</label>
      <!-- Username -->
      <div class="form-group">
        <label>Username</label>
        <div ng-dropdown-multiselect="" option="industrylist" selected-model="industry" extra-settings="industryDropDownSettings" style="width: 100%;"></div>
        <p class="help-block" style="padding-left:5px; margin-top: 5px; margin-bottom: 5px;">Username</p>
      </div>

<div class="modal fade" id="appDownloadDialog" role="dialog">
  <div class="modal-dialog">
    
  </div>
</div>