<div ng-include="'views/includes/header.html'"></div>
<div class="container">
  <div id="welcombox" class="mainbox welcombox mrg-t-100"> <!-- col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 -->
    <div class="panel panel-info sform welcome_div col-md-4 col-sm-6">
      <div class="panel-body" >
        <p class="text-center formhead">Job Submitted</p>
        <p class="text-center formsubhead">Thank you for posting your job at Workruit. You will be notified with an email and notification once your job is active.</p>
      </div>
    </div>
  </div</div>
>
