<div ng-include="'views/includes/header-before-login.html'"></div>
  <div data-ng-controller="resetPasswordController">
    <div id="errorMessageID" data-ng-show="error && errorMessage"
         class="alert alert-danger">
      <b>Error!</b>
      <span>{{errorMessage}}</span>
      <a href='javascript:void(0)' class="close" aria-label="close" title="close"><img src="images/icons/close.png" width="10" ng-click="closeModal()"/></a>
    </div>
    <div id="successMessageID" data-ng-show="success && successMessage"
         class="alert alert-success      <b>Thank you!</b>
      <span>{{successMessage}}</span>
      <a href="javascript:void(0)" class="clo">
se" aria-label="close" title="close"><img src="images/icons/close.png" width="10" ng-click="closeModal()"/></a>
    </div>
<div class="container">
  <div id="signupbox" style="margin-top: 110px; margin-bottom: 50px;"
       class="mainbox about_company">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">Reset Password</div>
      </div>
      <div class="panel-body">
        <form id="signupform" class="form-horizontal" role="form">
          <legend> Reset Password </legend>

          <div class="form-group">
            <label for="password" class="col-md-3 control-label"> New Password </label>
            <div class="col-md-9">
              <input type="password" class="form-control" name="newPassword" data-ng-model="resetPasswordNew.newPassword"
                     placeholder="New Password" required-error-message="New Password is required.">
            </div>
          </div>

          <div class="form-group">
            <label for="reenterNewPassword" class="col-md-3 control-label">
              Confirm New Password </label>
            <div class="col-md-9">
              <input type="password" class="form-control" name="reenterNewPassword" data-ng-model="resetPasswordNew.reenterNewPassword"
                     placeholder="Confirm Password" required-error-message="Confirm Password is required.">
            </div>
          </div>

        </form>
      </div>
    </div>
    <h5 class="text-center formsubhead" style="margin-bottom: 20px; margin-top: 20px;">
      <button class="btn btn-primary create_job" data-ng-click="resetPasswordNewServCall()"
              style="padding: 8px 22px; letter-spacing: 0.4px;">RESET PASSWORD</button>

    </h5>

  </div>
  <div class="text-center inner_subscribe" style="margin-bottom: 20px; margin-top: 20px;">

    <!-- START SUBSCRIBE FORM -->
    <a href="https://play.google.com/store/apps/details?id=com.workruit&hl=en" class="app-download-link" target="_blank"><img src="images/google-play-badge.png" width="170px"></a>
    <a href="https://itunes.apple.com/in/app/workruit/id1189752813?mt=8" target="_blank"><img src="images/iphone-play-badge.png" width="170px"></a>

    <!-- END SUBSCRIBE FORM -->


  </div>
</div>
  </div>
    <!-- Username -->
    <div class="form-group">
      <label>Username</label>
      <div ng-dropdown-multiselect="" option="industrylist" selected-model="industry" extra-settings="industryDropDownSettings" style="width: 100%;"></div>
      <p class="help-block" style="padding-left:5px; margin-top: 5px; margin-bottom: 5px;">Username</p>
    </div>
<div class="modal fade" id="appDownloadDialog" role="dialog">
  <div class="modal-dialog">
    
  </div>
</div>