<div ng-include="'views/includes/header.html'"></div>
<div class="container">
<div id="signupbox" style="margin-top: 110px; margin-bottom: 50px;"
	class="mainbox about_company">
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title">Change Password</div>
		</div>
		<div class="panel-body">
			<form name="changePasswordForm" class="form-horizontal" role="form">

				<legend> Change Password </legend>

				<div class="form-group">
					<label class="col-md-3 control-label"> Old
						Password </label>
					<div class="col-md-9">
						<input type="password" class="form-control" name="oldpswd" data-ng-model="editProfile.oldPassword"
							placeholder="Old Password" validator="required" required-error-message="Old Password is required.">
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-3 control-label"> New
						Password </label>
					<div class="col-md-9">
						<input type="password" class="form-control" name="newpswd" data-ng-model="editProfile.newPassword"
							placeholder="New Password" validator="required" required-error-message="New Password is required.">
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-3 control-label">
						Confirm Password </label>
					<div class="col-md-9">
						<input type="password" class="form-control" name="confirmpswd" data-ng-model="editProfile.reenterNewPassword"
							placeholder="Confirm Password" validator="required" required-error-message="Confirm Password is required.">
					</div>
				</div>

			</form>
		</div>
</div>
	<h5 class="text-center formsubhead"
		style="margin-bottom: 20px; margin-top: 20px;">
		<button class="btn btn-primary create_job" validation-submit="changePasswordForm" data-ng-click="resetPassword()"
			style="padding: 8px 22px; letter-spacing: 0.4px;">RESET PASSWORD</button>
	</h5>

</div>
</div>
